<!DOCTYPE html>
<html>
<body>
]<script>
    function myhref() {
        location.href =
            "http://127.0.0.1:5000/visual.html";
    }
</script>

<h2>Average Energy Burned</h2>

<img src="/static/Average Energy Burned.jpg" width="460" height="345" class="center">

<h2>Running Totals</h2>

<img src="/static/Running Totals.png"  width="460" height="345" class="center">

<h2>Most Active week for the user</h2>

<img src="/static/Most Active week for the user.png"  width="460" height="345" class="center">

<h2>Top 3 Activities by count</h2>


<img src="/static/Top 3 Activities by count.png" width="460" height="345" class="center">

<h2>Sleep Analysis</h2>

<img src="/static/Sleep Analysis.png" width="460" height="345" class="center">

</body>
</html>

